html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.board {
  width: 1500px;
  text-align: center;
}

.thead {
  width: 100%;
  background-color: #444444;
  color: white;
  padding: 10px 0;
}

.tbody {
  width: 100%;
}

.tr {
  border-bottom : 2px solid #444444;
}

.td1{
  display:inline-block; width:10%; 

}
.td2{
  display:inline-block; width:30%; 
}
.td3{
  display:inline-block; width:50%;
}
.td4{
  display:inline-block; width:10%;
}

.tbody div .td3{
  text-align: left;
}

.tbody div .td2{
  text-align: left;
}

.right{
  width: 1500px;
  text-align: right;
}

.button{
  position: relative;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: gray;
  color: white;
  margin: 5px;
}

.table {
  margin: 25px 100px;
  /* background-color: lightgray; */
  border : 3px solid #444444;
}

.dt1{
  display:inline-block; width:10%; 
}
.dt2{
  text-align: left;
  display:inline-block; width:89%; 
}

.dttr {
  border-bottom : 2px solid #444444;
  padding : 10px ;
}

.dttr2 {
  padding : 20px 10px;
  min-height: 200px;
}

input{
  height: 100%;
  width: 100%;
}

textarea{
  height: 200px;
  width: 100%;
}