html,
body {
  padding-bottom: 50px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.popupDom{
    background : rgba(0,0,0,0.25);
    position : fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

.popupDomInsert{
  position : fixed;
  left:35%;
  top:25%;
  height:50% !important;
  width:30% !important;
  background : rgba(255, 255, 255);
  padding: 10px 0px;
}